* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-90deg, #2d82cc, #0f4c81);
}

.input-button-container {
  display: flex;
  justify-content: center;
}
.input-button-container button {
  width: 160px;
  margin-top: 35px;
  height: 35px;
  background-color: rgba(250, 246, 7, 0.9);
  color: #0f4c81;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 30px;
}
.input-button-container button:focus {
  outline: none;
}
.input-button-container button:hover {
  background-color: white;
  color: #515152;
}
.input-button-container input {
  margin: 40px 25px 0px 25px;
  border: none;
  border-bottom: 1.5px solid white;
  color: white;
  font-weight: lighter;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  background: transparent;
  width: 50%;
}
.input-button-container input:focus {
  outline: none;
}

.header {
  background-color: white;
  display: flex;
}
.header p {
  font-size: 15px;
  line-height: 50px;
  font-weight: bolder;
  color: #0f4c81;
  font-family: "Roboto", sans-serif;
  padding-left: 30px;
}
.header img {
  height: 25px;
  margin-top: 15px;
  padding-left: 20px;
}

.search-output-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 15px;
}

.search-data__temperature {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.search-data__temperature p {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  padding: 5px 5px 5px 5px;
  color: white;
  font-weight: lighter;
}
.search-data__temperature img {
  height: 45px;
}

.search-data {
  width: 20%;
  overflow: hidden;
  height: max-content;
  margin: 20px;
  background-color: #0f4677;
}
.search-data header {
  display: flex;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.search-data header p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 20px;
  padding-left: 15px;
  font-weight: lighter;
}
.search-data table {
  width: 100%;
  margin-top: 10px;
}
.search-data table tr {
  display: flex;
  justify-content: center;
}
.search-data table tr td {
  font-family: "Roboto", sans-serif;
  color: white;
}
.search-data table tr td p {
  margin: 0px 20px;
  font-size: 18px;
}
.search-data h3 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 0px 10px 0px 10px;
  color: white;
  font-weight: lighter;
}
.search-data h4 {
  font-family: "Roboto", sans-serif;
  font-size: 8px;
  padding: 5px 15px 5px 15px;
  color: white;
  font-weight: lighter;
}

.search-data__forecast {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
  width: 100%;
  padding-right: 15px;
  height: 40px;
}
.search-data__forecast button {
  color: white;
  font-family: "Roboto", sans-serif;
  border: none;
  background: transparent;
}
.search-data__forecast button .buttonDropdown {
  height: 20px;
  padding-left: 5px;
}
.search-data__forecast button:hover i {
  color: #faf607;
}
.search-data__forecast button:focus {
  outline: none;
}

.forecast-div-class {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px;
}
.forecast-div-class .forecast-table {
  width: 90%;
  margin: 0px 10px;
}
.forecast-div-class .forecast-table tr {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  padding: 10px 20px;
  font-size: 12px;
  color: white;
  justify-content: space-between;
}
.forecast-div-class .forecast-table .secondTr {
  border-bottom: 1px solid #faf607;
  border-top: 1px solid #faf607;
}
.forecast-div-class .forecast-table img {
  height: 15px;
}
.forecast-div-class .forecast-table .tableTemperatureAndIcon {
  display: flex;
}
.forecast-div-class .forecast-table .tableTemperatureAndIcon p {
  padding-right: 10px;
}

.yellow-border {
  border-right: 2px solid #faf607;
}

.windIcon {
  height: 18px;
}

.humidityIcon {
  height: 18px;
}

.exit-button {
  border: 0px;
  padding: 0px;
  margin-right: 15px;
  background: none;
}
.exit-button div {
  margin: 0px;
  position: relative;
  border: none;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.exit-button div::before,
.exit-button div::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #faf607;
}
.exit-button div:hover::before {
  transition-duration: 1s;
  transform: rotate(45deg);
}
.exit-button div:hover::after {
  transition-duration: 1s;
  transform: rotate(-45deg);
}

.exitButton:focus {
  outline: none;
}

.buttonForecast {
  transform: rotate(-180deg);
  height: 20px;
  padding-right: 5px;
}

@media (max-width: 1100px) {
  .search-data {
    width: 40%;
  }
}
@media (max-width: 720px) {
  .search-data {
    width: 80%;
  }

  .inputAndButtonContainer button {
    width: 120px;
    margin-top: 30px;
    height: 30px;
    font-size: 10px;
  }
  .inputAndButtonContainer input {
    margin: 30px 25px 0px 25px;
    font-size: 18px;
    border-bottom: 1px solid white;
  }
}

/*# sourceMappingURL=style.css.map */
